#div1 { background-image: url("https://picsum.photos/id/237/200/300"); }
#div2 { background-image: url("https://picsum.photos/seed/picsum/200/300"); }
#div3 { background-image: url("https://picsum.photos/200/300?grayscale"); }
#div4 { background-image: url("https://picsum.photos/200/300"); }
#div5 { background-image: url("https://picsum.photos/200/300.jpg"); }
#div6 { background-image: url("https://picsum.photos/id/102/200/300"); }

.image {
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    cursor: grab;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
